body {
  background: #020617;
  color: white;
  font-family: Arial;
}

.app {
  max-width: 420px;
  margin: auto;
}

.H {
  text-align: center;
}

.box {
  background-color: #666;
  width: 90%;
  height: 600px;
}

input {
  width: 97%;
  height: 30px;
  padding: 3px;
  margin: 5px 0;
}

.I {
  width: 97%;
  height: 30px;
  padding: 3px;
  margin: 10px 0;
  color: white;
}

.wm {
  font-size: 14px;
}

.C {
  color: #999;
}

.b {
  margin-top: 20px;
  width: 100%;
  height: 25px;
  padding: 3px;
  background: white;
  border-radius: 10px;
  transition: ease 0.70s all;
}

.b:hover {
  background: lawngreen;
  transform: scale(1.05);
}

.B {
  width: 100%;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
}

.B0 {
  width: 50%;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
}

.B1 {
  width: 48%;
  height: 30px;
  padding: 3px;
  border-radius: 10px;
}

.BB {
  background: #222;
  margin-top: 8%;
  padding: 10px;
  border-radius: 10px;
}

#chat {
  background: #0f172a;
  height: 260px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid white;
}

.msg.me { color: #38bdf8; }
.msg.other { color: #4ade80; }

#myNumber {
  display: inline-block;
  white-space: nowrap;
}

.nds {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.L1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

.TT {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.boxx {
  background-color: #222;
  border-radius: 10px;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
}